@use "../helpers" as h;
@use "sass:map";

* {
    padding: 0;
    margin: 0;
    font-size: 16px;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
    padding: 0.5em 1em;
    border-radius: 7px;
}

body {
    min-width: 100vw;
    min-height: 100vh;

    position: relative;
}

#root {
    display: grid;
    grid-template-rows: auto 1fr;
    min-width: 100vw;
    min-height: 100vh;

    background: map.get(h.$boards_menu, "bg");
}
