@use "../helpers" as h;
@use "sass:map";

main.boards {
    background-color: map.get(h.$boards_menu, "bg");
    width: 100%;
    height: 100%;

    padding: 1em 2em;

    display: flex;
    flex-flow: column nowrap;
    gap: 2em;

    .board::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow: inset 0 -5px 5px map.get(h.$boards_menu, "border");
        z-index: 1;
        pointer-events: none;
    }

    .board {
        color: map.get(h.$boards_menu, "fg");
        border: 0.3em solid map.get(h.$boards_menu, "border");
        border-radius: 10px;
        padding: 0.6em 0.3em;

        position: relative;

        display: flex;
        flex-flow: column nowrap;
        gap: 1em;

        align-items: center;
        align-self: start;

        overflow: hidden;

        transition: min-height 1s ease;

        min-height: 0;
        min-width: 90%;
        margin: 0 auto;

        &.active {
            min-height: 30vh;

            .messages {
                transform: translate(0, 3em);
                padding: 0.3em 0.5em 0 0.5em;
            }
        }

        .name {
            text-align: center;
            background: purple;
            margin: 0 -0.3em;
            padding: 0 1em;
            align-self: stretch;

            a:hover {
                color: map.get(h.$boards_menu, "board_name");
            }
        }

        .messages {
            background: map.get(h.$boards_menu, "msgs_bg");
            display: flex;
            flex-flow: column nowrap;
            gap: 1em;

            position: absolute;
            top: 0;
            transform: translate(0, 10em);
            transition: transform 1s ease, padding 1s ease;
            padding: 0;

            width: 100%;
        }

        .message {
            background: map.get(h.$boards_menu, "msg_bg");
            padding: 0 0.5em;
            display: flex;
            flex-flow: column nowrap;
            gap: 0.2em;

            .author {
                text-align: center;

                .you {
                    color: map.get(h.$board_page, "user_msg");
                }
            }
        }
    }
}

@media (min-width: 50em) {
    main.boards {
        flex-flow: row wrap;

        .board {
            min-width: 21vw;
        }
    }
}
