@use "../helpers" as h;
@use "sass:map";

main.board {
    background: map.get(h.$boards_menu, "bg");
    color: map.get(h.$boards_menu, "fg");

    display: flex;
    flex-flow: column nowrap;
    gap: 1em;

    width: 90%;
    margin: 0 auto;

    .new_post {
        background-color: map.get(h.$boards_menu, "msg_bg");
        padding: 1em 2em;

        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        gap: 2em;

        label {
            font-weight: bold;
            text-align: center;
        }

        textarea#comment {
            resize: none;
            outline: none;
            padding: 0.3em 0.5em;
            border-radius: 5px;
            border: none;
        }

        button[type="submit"] {
            cursor: pointer;
        }
    }

    .posts {
        display: flex;
        flex-flow: column nowrap;
        gap: 2em;

        .post {
            background-color: map.get(h.$boards_menu, "msg_bg");
            overflow-wrap: break-word;

            display: flex;
            flex-flow: column nowrap;
            gap: 0.5em;

            position: relative;

            .details {
                .post_author {
                    text-align: center;
                    font-weight: bold;

                    .you {
                        color: map.get(h.$board_page, "user_msg");
                    }
                }

                .date_time {
                    display: flex;
                    gap: 2em;

                    position: absolute;
                    top: 0;
                }
            }

            .post_content {
                padding: 0.5em 0.8em;
                background-color: map.get(h.$boards_menu, "msgs_bg");
            }

            .delete_msg {
                position: absolute;
                top: 0;
                right: 0;

                padding: 0.3em 1em;
                background-color: #ff0000;
                color: #ffffff;

                cursor: pointer;
            }

            &:last-child {
                margin-bottom: 1em;
            }
        }
    }

    .board_name {
        margin-top: 0.8em;
        align-self: center;
    }
}
