@use "../helpers" as h;
@use "sass:map";

$btn: map.get(h.$navbar, "btn_border");

nav {
    justify-content: space-between;
    padding: 1em 2em;
    background: map.get(h.$navbar, "bg");
    align-items: center;

    &,
    .links {
        display: flex;
    }

    .links {
        gap: 3em;

        li {
            position: relative;
            z-index: 0;

            &:hover {
                color: map.get(h.$navbar, "btn_border");
            }

            &::before,
            &::after {
                content: "";

                transition: transform 0.7s ease;

                pointer-events: none;
                border-radius: 10%;

                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
            }

            &::before {
                border-top: 0.2em solid map.get(h.$navbar, "btn_border");
                border-bottom: 0.2em solid map.get(h.$navbar, "btn_border");
                transform: scale(0, 1);
                background-color: darken(map.get(h.$navbar, "bg"), 20%);
                z-index: -1;
            }

            &::after {
                border-left: 0.2em solid map.get(h.$navbar, "btn_border");
                border-right: 0.2em solid map.get(h.$navbar, "btn_border");
                transform: scale(1, 0);
            }

            &:hover::before {
                transform: scale(1, 1);
            }

            &:hover::after {
                transform: scale(1, 1);
            }
        }

        a {
            font-size: 1.2em;
            user-select: none;
            padding: 0.4em 0.8em;
            display: inline-block;
        }
    }
}
